/*flexbox wont work stick to grid*/


*{
box-sizing: border-box;
margin:0;
padding:0;
font-family:"Montserrat","Helvetica","sans-serif";
}

body
{
background-color: #2f4459;
}


.nav-container  /*nav bar container. group of items in nav bar: items and icons*/
{   
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 30px;
	position: sticky;
	top: 0;
	height: 50px;
	margin:auto;
	padding: 5px;
	border-bottom: medium ridge #0E2602;
	background-color: #252a12;
	overflow:hidden;  
	letter-spacing: 0.4em;
	z-index:1;
}

.nav-container a:link	{	text-decoration: none;		color:#FFFFFF;	}
.nav-container a:visited{	text-decoration: none;		color:#FFFFFF;	}
.nav-container a:hover	{	text-decoration: underline;	color:#FFFFFF;	}
.nav-container a:active	{	text-decoration: underline;	color:#FFFFFF;	}


	.nav-items /*text links to other pages*/
	{  
		margin: 0;
		width: 100%;
		text-align:center;
		padding:8px;
	}
		.select-anim /*animation for page group*/
		{
			display: inline-block;
			position: relative;
			color: #b6c9a9;
		}
		.select-anim:after
		{
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #b6c9a9;
			transform-origin: center;
			transition: transform 0.25s ease-out;
		}
		.select-anim:hover::after 
		{
			transform: scaleX(1);
			transform-origin: center;
		}
	.nav-icons /*icon links to other sites*/
	{  
		margin: 0;
		margin-top: -5px;
		width: 80%;
		height:50px;
		padding: 5px;
		text-align:right;
		display: inline;
	}
	.nav-icons a{	margin:0px;	width: 0px;	}
		.nav-icons-logo /*animation for icon group*/
		{  
			margin-left: auto;
			max-width: 50px;
			height: auto;
		}
		.nav-icons-logo:hover{	filter: invert(12%) sepia(76%) saturate(337%) hue-rotate(32deg) brightness(93%) contrast(94%);	}


/* https://cssgradient.io/ */
.header-span
{
	margin:25px 0px 25px 0px;
	display:grid;
	width:100%;
	height: 300px;
	background: #2f4459 center/100% url('../assets/header_dev.jpg') no-repeat;
}
	.header-inner-a
	{
		margin:auto;
		border: 10px double rgba(255, 255, 255, .5);
	}
		.header-inner-b
		{
			background: rgba(0, 0, 0, .2);
			padding:20px 50px 20px 50px;	
			color:#fff;
			font-size: 36px;
		}
			.header-inner-text
			{	
				letter-spacing: 1em;
				text-align:center;
				position:relative;
				margin-right: -1em;
			}


.dev-container{}/*art container. group of items in art container items: title, carousel, text, and links*/
	.dev-container > div 
	{
	  text-align: center;
	  font-size: 30px;
	  letter-spacing: 0.4em;
	  color: #ffffff;
	}

	/*https://www.digitalocean.com/community/tutorials/css-align-justify  container auto adjusts depending on screen width*/
	.dev-container-items
	{    
		display: grid;
		margin: 20px 15% 20px 15%;
		grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
		grid-gap: 50px;
		justify-content: space-evenly;
		justify-items: center;
	}
		.item-wide
		{	
			background-color: rgba(37, 42, 18, 0.2);
			text-align: center;
			text-size:12;
			display: grid;
			grid-template-columns: 800px;
			grid-template-rows: 100px 200px 50px 225px 50px;
			height:100%;
		}
			.dev-title
			{
				text-align:center;
				position:relative;
				margin-right: -1em;
			}
			.carousel /*moving images display by flickity*/
			{
			  height: 200px;
			}
				.carousel-cell 
				{
				  width: 66%;
				  height: 100%;
				  margin:0px 10px 0px 10px;
				  counter-increment: gallery-cell;				

				}
					.carousel-cell img 
					{
						width: auto;
						height: 100%;
						align:center;	
					}
				.carousel-cell-image {
				display: block;
				max-height: 100%;
				}
				.carousel-cell:before {	display: block;	}
				.carousel.is-fullscreen .carousel-cell {		height: 100%;		}
				.carousel.is-fullscreen .carousel-cell-image{	max-width: 100%;	}
			.dev-space	{	height:50px;		}
			.dev-text	{	font-size: 21px;	}
			.dev-text-small	{	font-size: 21px;	padding: 5%;}

			.dev-link	{	font-size: 16px; position:relative;	}
				.dev-link a:link	{		text-decoration: none;			color:#159b47;	}
				.dev-link a:visited	{		text-decoration: none;			color:#cc7e60;	}
				.dev-link a:hover	{		text-decoration: underline;		color:#b6c9a9;	}
				.dev-link a:active	{		text-decoration: underline;		color:#b6c9a9;	}
				.center {
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}

	.dev-container-items
	{    

	}
