/*flexbox wont work stick to grid*/


*{
box-sizing: border-box;
margin:0;
padding:0;
font-family:"Montserrat","Helvetica","sans-serif";
}

body
{
}



.nav-container 
{   
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 30px;
	position: sticky;
	top: 0;
	height: 50px;
	margin:auto;
	padding: 5px;
	border-bottom: medium ridge #0E2602;
	background-color: #537310;
	overflow:hidden;  
	letter-spacing: 0.4em;
	z-index:1;
}

.nav-container a:link {		text-decoration: none;		color:#FFFFFF;	}
.nav-container a:visited {  text-decoration: none;		color:#FFFFFF;	}
.nav-container a:hover {	text-decoration: underline;	color:#FFFFFF;	}
.nav-container a:active {	text-decoration: underline;	color:#FFFFFF;	}


	.nav-items
	{  
		margin: 0;
		width: 100%;
		text-align:center;
		padding:8px;
	}
		.select-anim
		{
			display: inline-block;
			position: relative;
			color: #A6761C;
		}
		.select-anim:after
		{
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #A6761C;
			transform-origin: center;
			transition: transform 0.25s ease-out;
		}
		.select-anim:hover::after 
		{
			transform: scaleX(1);
			transform-origin: center;
		}
	.nav-icons
	{  
		margin: 0;
		margin-top: -5px;
		width: 80%;
		height:50px;
		padding: 5px;
		text-align:right;
		display: inline;
	}
	.nav-icons a{	margin:0px;	width: 0px;	}
		.nav-icons-logo
		{  
			margin-left: auto;
			max-width: 50px;
			height: auto;
		}
		.nav-icons-logo:hover{	filter: invert(57%) sepia(61%) saturate(5794%) hue-rotate(25deg) brightness(93%) contrast(78%);	}


/*https://coder-coder.com/how-to-fix-css-background-image-not-working/ */
.header-span
{
	margin:25px 0px 200px 0px;
	display:grid;
	width:100%;
	height: 300px;
	background: #537310 center/100% url('assets/header_voxelart.png') no-repeat;
}
	.header-inner-a
	{
		margin:auto;
		border: 10px double rgba(255, 255, 255, .5);
	}
		.header-inner-b
		{
			background: rgba(0, 0, 0, .2);
			padding:20px 50px 20px 50px;	
			color:#fff;
			font-size: 36px;
		}
			.header-inner-text
			{	
				letter-spacing: 1em;
				text-align:center;
				position:relative;
				margin-right: -1em;
			}


.art-container{}
	.art-container > div 
	{
	  background-color: rgba(255, 255, 0, 0.8);
	  text-align: center;
	  font-size: 30px;
	  letter-spacing: 0.4em;
	}

	/*https://www.digitalocean.com/community/tutorials/css-align-justify */
	.art-container-items
	{    
		display: grid;
		margin: 2% 15% 2% 15%;
		grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
		/*grid-template-columns: 1fr 1fr 1fr;*/
		background: #fff;
		grid-gap:5% 5%;
		justify-content: space-evenly;
		justify-items: center;		
	}
		.item 
		{
			background: #fff;
			text-align: center;
			border: 0.5px solid #ffffff;
			text-size:12;
			display: grid;
			grid-template-columns: 300px;
			grid-template-rows: 100px 200px 50px 125px 50px;
		}
			.art-title
			{
				height:100%;
				width: 100%;
				block-size: fit-content;
				align:center;
			}
			.carousel 
			{
			  background: #fff;
			  height: 200px;
			}
				.carousel-cell 
				{
				  width: 66%;
				  height: 100%;
				  margin-right: 10px;
				  background: #fff;
				  border-radius: 5px;
				  counter-increment: gallery-cell;
				}
					.carousel-cell img 
					{
						width: 80%;
						height: auto;
						align:center;
					}
				.carousel-cell:before {	display: block;	}
				.carousel.is-fullscreen .carousel-cell {		height: 100%;		}
				.carousel.is-fullscreen .carousel-cell-image{	max-width: 100%;	}
			.art-space	{	height:50px;		}
			.art-text	{	font-size: 21px;	}
			.art-link	{	font-size: 16px; position:relative;	}
				.center {
					margin: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}